body {
  background-color: lavenderblush;
}

.pageheader {
  line-height: 2pt;
  text-align: center;
}
  
h1 {
  font-style: italic;
  font-weight: 700;
  color: crimson;
}

h2 {
  font-weight: 300;
  font-variant-caps: all-small-caps;
  font-weight: 800;
  color: darkred;
}

h3 {
  font-style: italic;
}

.blogpost {
  color: lightslategray;
}

.blogpost2 {
  color: darkslategray;
}

.aboutme {
  color: darkred;
  font-size: small;
  font-family: cursive;
}