body {
  background-color: linen;
}

.pageheader {
  line-height: 2pt;
  text-align: center;
}
  
h1 {
  font-style: italic;
  font-weight: 700;
  color: crimson;
}

h2 {
  font-weight: 300;
  font-variant-caps: all-small-caps;
  font-weight: 800;
  color: darkred;
}

h3 {
  font-style: italic;
}

.blogpost {
  color: lightslategray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blogpost2 {
  color: darkslategray;
  margin-bottom: 10px;
}

.aboutme {
  color: black;
  font-variant: small-caps;
}